accelerate==1.6.0
backports.tarfile==1.2.0
cloudpickle==3.1.1
cython==3.0.12
datasets==3.5.0
flair==0.15.1
groq==0.22.0
importlib-metadata==8.0.0
ipykernel==6.29.5
jaraco.collections==5.1.0
newspaper3k==0.2.8
numba==0.61.2
openai==1.73.0
pip-chill==1.0.3
pysocks==1.7.1
python-dotenv==1.1.0
sentence-transformers==4.1.0
sentencepiece==0.2.0
slicer==0.0.8
tomli==2.0.1
xgboost==3.0.0
