aiohttp==3.11.18
backports.tarfile==1.2.0
causal-learn==0.1.4.1
cvxpy==1.6.5
cython==0.29.37
datasets==3.6.0
dotenv==0.9.9
dowhy==0.8
econml==0.15.1
groq==0.24.0
importlib-metadata==8.0.0
ipykernel==6.29.5
jaraco.collections==5.1.0
pip-chill==1.0.3
pygraphviz==1.14
seaborn==0.13.2
tomli==2.0.1
xgboost==3.0.0
